
.carrito-productos{
    display: flex;
    flex-direction: column;
}

.favoritos-vacio{
    display: none;
}
.favoritos-imagen{
    height: auto;
    width: 10rem;
    border-radius: 1rem;
}

.container-favoritos{
    @extend .box-color;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    img{
        justify-content: center;
        width: 100px;
    }
    h2{
        margin-bottom: 2rem;
    }
}
.cuadro-favoritos{
    @extend .box-color;
    border-radius: 10px;
    background-color: rgba($color-principal, 0.3);
    overflow-y: scroll;
}
//barra de scroll----------------------------
.cuadro-favoritos::-webkit-scrollbar{
    width: 10px;
}
.cuadro-favoritos::-webkit-scrollbar-thumb{
    background: $color-detalles;
    border-radius: 400px;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgba($color-principal, 0.4);
}


.favorito-producto{
    @extend .box-color;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 1rem;
    p{
        font-size: small;
    }
}
.descripcion-descripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.descripcion-barrio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}