/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* Font size: 10px = 1em */
html{
    font-size: 62.5%;
}

/* extend */
.box-color{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgba($color-principal, 0.4);
    border: solid $color-detalles;
    border-radius: 20px;
}
/* Fin extend */