$color-principal: #1693b5;
$color-secundario: #262626;
$color-base: #322046;
$color-detalles: rgb(177, 87, 87);
$color-btn-alfabeticamente: rgb(237, 237, 237);
$color-btn-precio: rgb(255, 179, 0);
$color-btn-comuna: rgb(255, 238, 0);
$color-btn-zona: rgb(0, 132, 255);
$color-btn-calculo: rgb(13, 255, 0);
$color-btn-reset: rgb(255, 0, 0);